/* Controls */
.controls {
  margin-top: 10px;
}

button,
input[type='range'] {
  background: #111;
  color: #0f0;
  border: 1px solid #0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: #0f0;
  color: black;
}

/* 📊 Progress bar */
.progress {
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  height: 10px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.progress__filled {
  width: 0%;
  background: #0f0;
  height: 100%;
  transition: width 0.1s;
}
